<!DOCTYPE html>
<html>

<head>
    <title> Default </title>
</head>

<body>
    <form action="~/Name.cshtml", method="post">
        <label for="name"> Name: </label> <br/>
        <input type="text" name="name" id="name" placeholder="Enter name"/> <br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
